.navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
}

.navBar {
    display: flex;
    justify-content: space-around;
    width: 50%;
    text-align: center;
    padding: 14px 16px;
}

.material-icons.md-24 {
    font-size: 24px;
}

#closeButton {
    color: #6d757c;
}

#createTitle {
    text-align: center;
}

.postForm .custom-file {
    padding-bottom: 70px;
}