nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    width: 100%;
    min-height: 10px;
}

.navBar {
    display: flex;
    justify-content: space-around;
    width: 40%;
    text-align: center;
    padding: 14px 16px;
}

.navBar li {
    list-style: none;
}

.navBarHeading a, .navBar li a {
    font-family: Arial, Helvetica, sans-serif;
    color: #383838;
    text-decoration: none;
    font-weight: bold;
    padding: 14px 16px;
}

.navBar li a:hover {
    background-color: #d9d9d9;
}

.mainContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.sortBar {
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-around;
    width: 20%;
    height: 100vh;
}

.postSession {
    background-color: #d09695;
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 100vh;
}

.postSession.PolyULife {

}